{% extends "admin/base_site.html" %}
{% load i18n %}{% load admin_static bootstrapped_goodies_tags %}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title%}
Add user | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{# TODO: Extends admin base skin #}
{% block breadcrumbs %}
<ul class="breadcrumb">
  <li><a href="/admin/">{% trans 'Home' %}</a></li>
  <li><a href="/admin/auth/">Authentication and Authorization</a></li>
  <li><a href="/admin/auth/user/">Users</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
    <form action="" method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {% bootstrap_form_errors form layout='table' %}
        {% bootstrap_form form layout='table' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "ok" %} Submit
            </button>
        {% endbuttons %}
    </form>
  </div>
</div>
{% endblock %}
