{% extends 'base.html' %}

{% block title %}L'association{% endblock %}

{% block content %}
<div class="container-fluid">
  <!-- DISPLAY THE NEWEST SPORT TOOK -->
  <div class="container-fluid">
    <div class="row border-bottom title2">
      <b>Présentation du BDS</b>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        En 1998, la fusion de l'lnstitut Polytechnique de Sévenans (lPSé) et de l'Ecole Nationale d'lngénieurs de Belfort (ENlBe) a donné naissance à l'Université de Technologie de Betfort-Montbéliard (UTBM), pôle régional d'enseignement supérieur et de recherche.<br><br>

        Le milieu associatif s'est restructuré également: ASTUS et ASSIDUS, associations sportives respectives de l'lPSé et de L'ENI, ont formé le Bureau des Sports (BDS) de l'UTBM.<br><br>

        Cette restructuration répondait à un besoin de mise en commun, d'optimisation et d'élargissement de l'offre en termes d'activités et d'infrastructures. Ce fut aussi pour la nouvelle association, l'occasion de s'accorder plus de moyens pour soutenir et motiver les projets à vocation sportive.<br><br>

        Le BDS se veux être l'unité centrale qui regroupe et gère toutes les activités à caractère sportif, accessibles aux étudiants de l'UTBM.<br>
        En ce sens, il a pour objet de permettre aux étudiants d'accéder à la pratique de multiples sports en loisirs et en compétition. L'une de ses priorités est d'offrir les meilleures conditions possibles aux étudiants en termes de structures, d'encadrement et de d'ambitions sportives.<br><br>

        Développer le sens associatif en favorisant l'implication individuelle et l'émergence de projets liés à l'organisation de manifestations sportives est un vecteur fort de la politique générale de l'association sportive. En ce sens, elle vise à développer la responsabilité et l'autonomie des étudiants.
        Le BDS apporte un soutien logistique et financier à l'organisation de ces manifestations : cadre administratif, sécurité, suivi, conseils organisation planning, expérience.<br>
      </div>
    </div>
    <div class="space-row"></div>
    <div class="row border-bottom title2">
      <b>Présentation des activités du BDS</b>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
        L'association du Bureau des Sports étend ses activités suivant deux domaines bien définis.<br><br>

        Le premier concerne les clubs. ll englobe l'ensemble des clubs permettant la pratique régulière de sports en loisirs ou en compétition.<br>
        La plupart des sports collectifs, de duel ou individuels y sont représentés. La majeure partie de ces clubs évolue en compétition dans le cadre des championnats organisés par la fédération française des sports universitaires (FFSU) : le championnat académique confrontant les milieux universitaires sur les scènes départementales, régionales, puis nationales, et le championnat des grandes écoles suivant les mêmes sélections.<br><br>

        Le deuxième domaine conceme l'organisation de ce que nous appelons les Grandes Activités. En voici la liste (pour plus d'informations concernant les Grandes Activités, visitez la page dédiée à celles-ci).<br>
      </div>
    </div>
  </div>
</div>
{% endblock %}
