{% extends 'base.html' %}

{% load class_name %}

{% block content %}

<div class="container-fluid">
  <!-- DISPLAY WHAT THE NEWEST ARTICLES AND WEEKMAIL ARTICLES -->
  <div class="container-fluid">
    {% for object in news %}
      {% if forloop.counter0|divisibleby:"3" or forloop.first %}
      <div class="row">
      {% endif %}
          <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
            <a href="{% if object|class_name:'Weekmail' %}
                        {% url 'communication:weekmail' pk=object.id %}
                      {% else %}
                        {% url 'communication:article' pk=object.id slug=object.slug %}
                      {% endif %}">
                <div clas="row">
                    <div class="title orangeColor">
                      {% if object|class_name:'Weekmail' %}
                        {{ object.subject }}
                      {% else %}
                        {{ object.title }}
                      {% endif %}
                      </div>
                </div>
              </a>
              <div class="row">
                  <div class="orangeBg article whiteColor">
                    <a href="{% if object|class_name:'Weekmail' %}
                                {% url 'communication:weekmail' pk=object.id %}
                              {% else %}
                                {% url 'communication:article' pk=object.id slug=object.slug %}
                              {% endif %}">
                      <p>
                        {% if object|class_name:'Article' and object.cover %}<img width="100%" src="{{ object.cover.url }}" alt="{{ object.cover.filename }}">{% endif %}
                        {% autoescape off %}
                        {% if object|class_name:'Article' %}
                          {% if object.summary %}
                            {{ object.summary }}
                          {% else %}
                            {{ object.content|truncatewords_html:180 }}
                          {% endif %}
                        {% else %}
                          {{ object.introduction }}<br>
                          {% for paragraph in object.paragraphs.all %}
                            {{ paragraph.title }}<br>
                          {% endfor %}
                        {% endif %}
                        {% endautoescape %}
                        <b>Lire la suite</b>
                      </p>
                    </a>
                  </div>
              </div>
          </div>
      {% if forloop.counter0|add:-2|divisibleby:"3" or forloop.last %}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="row center">
    <nav>
      <ul class="pager">
        {% if news.has_previous %}<li><a href="?page={{ news.previous_page_number }}"><span aria-hidden="true">&larr;</span> Plus récents</a></li>{% endif %}
        {% if news.has_next %}<li><a href="?page={{ news.next_page_number }}"> Plus anciens<span aria-hidden="true">&rarr;</span></a></li>{% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
